# Pile Simulator 3

This time, use an octree for procedural generation of the pristine asteroid and chunks for player modifications.

I have removed Rubble Pile Simulator and Gridmap Pile Simulator to clean up the workspace and avoid conflicts. If you need information on how that was implemented you can ask me.

## Project Info
- Godot 4.7.dev3, Forward+, net8.0
- Put scripts that are bound to a Godot node in Scripts
- Put scripts that operate on underlying game data in DSA
- The Godot scene tree should merely reflect the underlying game data
- Do not assign defaults to configuration in scripts for nodes. I will input them in the Godot editor
- Do not search for scene nodes and references in _Ready(). I will assign them in the Godot editor
- Fail early, fail loudly. Do not continue operating with the wrong information
- This reduces boilerplate code and avoids bugs caused by a varaible having different values at different times

## Steps

### Step 1: Visualize handover between static rocks and far away octree nodes
- The asteroid uses a seed and noise to generate the same bumpy shape and material distribution
- 3 materials: rock, ice, and metal. There is more ice towards the surface and more metal towards the center
- Put something in the code to cut the asteroid in half on the z=0 plane so I can see the cross-section
- Add freecam controls to the world
- Moving the camera makes the nearby region load
- UI slider affects the radius where the asteroid is realized into static rocks with defined materials
- Outside this radius, octree nodes are shown with the multi mesh. Color can be rock or some other uniform color
- No rigid rocks, gravity, or player modifications yet

### Current Problems
- It's too slow, even with a 13900H and RTX 4060 laptop
- - I was hoping for r^2 * log2(r) as realization radius increases and log2(a) as asteroid radius increases
- - r^2 because you need at least r^2 to represent the surface within the realization radius, and log2(r) for overhead
- - The octree and meshes times bounce around depending on cache effects and the mood of my CPU
- - The TraversalLines is deterministic, but it still doesn't fit my expectations of x^2, x^2 * log_2(x), or x^3
- - Some of this is affected by the shape of the asteroid and the camera's specific location but a general trend should appear
- Occasionally the neighbor check on larger LODs leaves holes
- - Node A, height 1, representing a 2 x 2 x 2 m region, checks the Material of its height 1 neighbor nodes
- - Due to how the asteroid generator works, an LOD internal node B may be !Material.Empty even if there exists children that are Material.Empty
- - If B is within the realization radius and A isn't, there can be a visual gap seeing into A (which is Empty and not meshed) and into the asteroid

### Step 2: Static modifications

### Step 3: Rigid rocks
